label{

    display: inline-block;
    height: 15%;
    width: 10%;
    margin-bottom: 10px;
}
input{
    display: inline-block;
    /* height: 15px;
    width: 150px; */
}
form{
    text-align: center;
}
h1{
    text-align: center;
}
.parent{
    background-color: rgb(208, 183, 232);
    width: 50%;
    height: auto;
    padding-left: 100px;
    margin-left: 200px;
    /* border-radius: 35px; */
    box-shadow: 5px 5px 10px black;
    border-bottom-right-radius: 40px;
    border-top-left-radius:40px ;

}
.submitbtn{
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-top-left-radius:10px ;
}