<!-- <p>dashboard works!</p> -->
<!-- <p>dashboard works!</p> -->
<div class="parent">
    <div class="left">

        <h2 >Dashboard</h2>
        <hr>
        <h1 routerLink="dashboard">Home</h1>

        <h1 routerLink="pipes">pipes</h1>
        <h1 routerLink="marks">marks</h1>
        <h1 routerLink="event">Event</h1>
        <h1 routerLink="cars">Cars</h1>
        <h1 routerLink="structureldirectives">structureldirectives</h1>
        <h1 routerLink="create-user">Create-user</h1>
        <h1 routerLink="products">Products</h1>
        <h1 routerLink="accounts">Accounts</h1>
        <h1 routerLink="users">Users</h1>
        <h1 routerLink="user-form">User-form</h1>
        <h1 routerLink="vehicles">Vehicles</h1>
        <h1 routerLink="memes">Memes</h1>
        <h1 routerLink="emails">Email</h1>
        <h1 routerLink="flipkart">Flipkart</h1>
        <h1 routerLink="userinfo">Userinfo</h1>
        <h1 routerLink="test">Test</h1>
        <button class="logout" (click)="logout()">logout</button>

    </div>
    <div class="right">
        
        <router-outlet></router-outlet>
        
    </div>
</div>